#testimonial  {
    padding: 2rem;
    margin: auto;
}

.testimonials > div {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    width: 100%;
    margin-bottom: 2rem;
    /* list-style: none; */
}

 li .testimonials  {
    list-style: none;
}


/* testimonial for even numbers */
 /* ul li:nth-child(2).testimonials,
 ul li:nth-child(4).testimonials {
    display: grid;
    justify-self: flex-end;
    grid-template-columns: auto .5fr auto;
    width: 70vw;
    margin-bottom: 2rem;
    transform: translateX(310px);
} */

.testimonials img {
    width: 400px;
    height: 400px;
    padding-left: 2rem;
}

/* this is text speech */
.testimonials .test-speech {
    padding-left: 4rem;
    margin-top: 2rem;
    /* border-left: 2px solid #333; */
    /* border-width: 3px; */
    /* border-length: 200px; */
}

/* This is the line at the between the image and the text */
/* .testimonials .box {
    width: 3px;
    margin-top: 5rem;
    height:280px;
    background: #333;
    transform: translateX(50px);
    color: black;
    transform: translateX(-50px);
} */

/* Testimonial for box */
/* ul li:nth-child(2nd) .testimonials .box,
ul li:nth-child(4th) .testimonials .box {
        width: 3px;
        margin-top: 5rem;
        height:280px;
        background: #333;
        transform: translateX(-30px);
        color: black;
        transform: translateX(-50px);
    } */
.testimonials .test-speech {
    align-items: left;
}

.testimonials .test-speech h3 {
    /* text-align: center; */
    /* transform: translateX(-50px); */
    padding-bottom: 2rem;
    /* border-bottom: #333 1px solid ; */    
}

li:nth-child(2) .testimonials .test-speech h3 {
    /* transform: translateX(-50px); */
}

li:nth-child(even) .testimonials .test-speech {
    
    /* transform: translateX(-px); */
}