:root {
    --colorone: rgba(41, 128, 185, 0.5);
    --colortwo: rgba(231, 76, 60, 0.5);
    --colorthree: rgba(131, 145, 146, 0.5);
    --width: 1000px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background: #ccc;
    line-height: 1.7;
}

a {
    text-decoration: none;
    color: white;
    /* color: #333; */
}

/* utility classes */
.container {
    width: var(--width);
    /* padding: 2rem; */
    overflow: hidden;
    margin: auto;
    /* display: flex; */
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}

.py-1 {padding: 1rem 0;}
.py-2 {padding: 1.5rem 0;}
.py-3 {padding: 2rem 0;}
.p-1 {padding: 1rem;}
.p-2 {padding: 1.5rem;}
.p-3 {padding: 2rem;}

.m-heading {
    font-size: 2rem;
    padding: .75rem;
}

.m-center {
    text-align: center;

}

.btn {
    color: white;
    border: white 2px solid;
    padding: .5rem 1rem ;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
}

/* .reg {
    align-items: center;
    margin-top: 2rem;
} */

/* navbar section */
#navbar {
    background: #333;
    color: #fff;
    display: flex;
    position: sticky;
    justify-content: space-between;
    top: 0;
    opacity: 0.5;  
}

#navbar .logo {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 2rem;
    letter-spacing: .2rem;
    color: var(--colortwo);
}


#navbar .logo h1 {
    color: #fff;
    /* font-size: 2rem; */
}

#navbar ul {
    color: #fff;
    display: flex;
    padding: 1rem;
}

#navbar ul li {
    text-decoration: none;
    list-style: none;
    padding: 1rem;
    color:#fff;
}

#navbar ul li a {
    background: var(--colortwo);
    color: #fff;
    padding: 0.5rem .7rem;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

#navbar ul li a:hover {
    font-size: 1.1rem;
    background: #fff;
    color: var(--colortwo);
}

#navbar .social {    
    display: flex;
    /* text-align: center; */
    justify-content: center;
    justify-items: center;
    align-content: center;
    padding: 2rem;
    letter-spacing: 1rem;
    /* margin: 1rem; */

}

#navbar .social .fa-facebook, .fa-twitter {color: blue;}
#navbar .social .fa-instagram  {color: palevioletred;}
#navbar .social .fa-youtube  {color: red;}

/* showcase Section */
#showcase {
    background: #333;
    /* background: url('../img/birm.jpg') no-repeat center center/cover; */
    height: 70vh;
    position: relative;
    padding: 2rem;
    color: #fff;
}

#showcase::before {
    content: '';
    position: absolute;
    background: url('../img/mike.jpg') no-repeat center center/cover;
    /* background: var(--colorone); */
    top: 0;
    left: 0;
    right: 0;
    height: 100%;    
    opacity: 0.3;
}

#showcase .showcase-container{
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    position: absolute;
}

/* Welcome Section */
#welcome {
    margin: auto;
    width: var(--width);
    height: 100vh;
    position: relative;
    overflow: hidden;
    /* width: 1000px; */
}

#welcome h3 {
    text-align: center;
    margin-bottom: 1.2rem;
}

#welcome .welcome-training {
    display: flex;
    position: absolute;
    /* justify-content: space-around; */
    justify-items: center;
    margin-bottom: 2rem;
}

.welcome-training .training-content {
    width: 50%;
    padding: 0 3rem;
    /* height: 100%; */
    text-align: justify;
    align-content: center;
}

.training-img {
    background: url('../img/mike.jpg')no-repeat center center/cover;
    padding: 0 3rem;
    height: inherit;
    /* float: right; */
    margin-bottom: 2rem;
    width: 50%;
}

#learn {
    display: flex;
    background: #333;
    color: #fff;
    overflow: auto;
}

#learn .container
